T.I.2.1PAO202551_EUREKABANK_BDDNUBE_SOAP_JAVA_GR01/04. CLIESC/eurekabank_escritorio/xml-resources/web-service-references/WSEureka/wsdl/localhost_8080/eurekabank/WSEureka.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.gr03.edu.ec/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.gr03.edu.ec/" name="WSEureka">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.gr03.edu.ec/" schemaLocation="http://localhost:8080/eurekabank/WSEureka?xsd=1"/>
</xsd:schema>
</types>
<message name="regRetiro">
<part name="parameters" element="tns:regRetiro"/>
</message>
<message name="regRetiroResponse">
<part name="parameters" element="tns:regRetiroResponse"/>
</message>
<message name="regTransferencia">
<part name="parameters" element="tns:regTransferencia"/>
</message>
<message name="regTransferenciaResponse">
<part name="parameters" element="tns:regTransferenciaResponse"/>
</message>
<message name="regDeposito">
<part name="parameters" element="tns:regDeposito"/>
</message>
<message name="regDepositoResponse">
<part name="parameters" element="tns:regDepositoResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="traerBalances">
<part name="parameters" element="tns:traerBalances"/>
</message>
<message name="traerBalancesResponse">
<part name="parameters" element="tns:traerBalancesResponse"/>
</message>
<message name="traerMovimientos">
<part name="parameters" element="tns:traerMovimientos"/>
</message>
<message name="traerMovimientosResponse">
<part name="parameters" element="tns:traerMovimientosResponse"/>
</message>
<portType name="WSEureka">
<operation name="regRetiro">
<input wsam:Action="http://controller.gr03.edu.ec/WSEureka/regRetiroRequest" message="tns:regRetiro"/>
<output wsam:Action="http://controller.gr03.edu.ec/WSEureka/regRetiroResponse" message="tns:regRetiroResponse"/>
</operation>
<operation name="regTransferencia">
<input wsam:Action="http://controller.gr03.edu.ec/WSEureka/regTransferenciaRequest" message="tns:regTransferencia"/>
<output wsam:Action="http://controller.gr03.edu.ec/WSEureka/regTransferenciaResponse" message="tns:regTransferenciaResponse"/>
</operation>
<operation name="regDeposito">
<input wsam:Action="http://controller.gr03.edu.ec/WSEureka/regDepositoRequest" message="tns:regDeposito"/>
<output wsam:Action="http://controller.gr03.edu.ec/WSEureka/regDepositoResponse" message="tns:regDepositoResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://controller.gr03.edu.ec/WSEureka/loginRequest" message="tns:login"/>
<output wsam:Action="http://controller.gr03.edu.ec/WSEureka/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="traerBalances">
<input wsam:Action="http://controller.gr03.edu.ec/WSEureka/traerBalancesRequest" message="tns:traerBalances"/>
<output wsam:Action="http://controller.gr03.edu.ec/WSEureka/traerBalancesResponse" message="tns:traerBalancesResponse"/>
</operation>
<operation name="traerMovimientos">
<input wsam:Action="http://controller.gr03.edu.ec/WSEureka/traerMovimientosRequest" message="tns:traerMovimientos"/>
<output wsam:Action="http://controller.gr03.edu.ec/WSEureka/traerMovimientosResponse" message="tns:traerMovimientosResponse"/>
</operation>
</portType>
<binding name="WSEurekaPortBinding" type="tns:WSEureka">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="regRetiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="regTransferencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="regDeposito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerBalances">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="traerMovimientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSEureka">
<port name="WSEurekaPort" binding="tns:WSEurekaPortBinding">
<soap:address location="http://localhost:8080/eurekabank/WSEureka"/>
</port>
</service>
</definitions>